<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutAdmin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Nuevo Usuario/Admin", "NuevoAdmin", "Admin")</li>
                    <li>@Html.ActionLink("Usuarios", "Clientes", "Admin")</li>
                    <li>@Html.ActionLink("Menu De Cliente", "IndexCliente", "Home")</li>
                    <li>@Html.ActionLink("articulos", "listaArticulos", "Admin")</li>
                    <li>@Html.ActionLink("Salir", "salir", "Login")</li>
                </ul>
            </div>
        </div>
    </div>
   </div>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
